services:
  bot:
    image: proxmox-helper-bot:latest
    build:
      context: .
      dockerfile: Dockerfile
    container_name: proxmox-helper-bot
    command: python main.py
    restart: always

    environment:
      BOT_TOKEN: ${BOT_TOKEN}
      PVE_HOST: ${PVE_HOST}
      PVE_PORT: ${PVE_PORT}
      PVE_NODE: ${PVE_NODE}
      PVE_TOKEN: ${PVE_TOKEN}
      CF_TOKEN: ${CF_TOKEN}
      DOMAIN: ${DOMAIN}
      ADMIN_IDS: ${ADMIN_IDS}
      DEFAULT_GW: ${DEFAULT_GW}
      DEFAULT_DNS: ${DEFAULT_DNS}
      IP_RANGE_START: ${IP_RANGE_START}
      IP_RANGE_END: ${IP_RANGE_END}
      DEFAULT_VM_USER: ${DEFAULT_VM_USER}
      BANNER_FILE_ID: ${BANNER_FILE_ID}
      VPS_HOST: ${VPS_HOST}
      VPS_USER: ${VPS_USER}
      VPS_PASS: ${VPS_PASS}

    volumes:
      - .:/app
      - /home/github/mybot/log:/app/log
    working_dir: /app
    networks:
      - proxmox_net


networks:
  proxmox_net:
    driver: bridge