services:
  bot:
    image: proxmox-helper-bot:latest
    build:
      context: .
      dockerfile: Dockerfile
    container_name: proxmox-helper-bot
    command: python main.py
    restart: always

    environment:
      BOT_TOKEN: ${BOT_TOKEN}
      PVE_HOST: ${PVE_HOST}
      PVE_PORT: ${PVE_PORT}
      PVE_NODE: ${PVE_NODE}
      PVE_TOKEN: ${PVE_TOKEN}
      CF_TOKEN: ${CF_TOKEN}
      DOMAIN: ${DOMAIN}
      ADMIN_IDS: ${ADMIN_IDS}
      DEFAULT_GW: ${DEFAULT_GW}
      DEFAULT_DNS: ${DEFAULT_DNS}
      IP_RANGE_START: ${IP_RANGE_START}
      IP_RANGE_END: ${IP_RANGE_END}
      DEFAULT_VM_USER: ${DEFAULT_VM_USER}
      VPS_HOST: ${VPS_HOST}
      VPS_USER: ${VPS_USER}
      VPS_PASS: ${VPS_PASS}

    working_dir: /app
    networks:
      - proxmox_net

  redis:
    image: redis:8.0-M03-alpine
    logging:
      driver: "json-file"
      options:
        tag: "{{.Name}}"
    container_name: redis
    volumes:
      - redis-data:/data
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: always
    networks:
      - proxmox_net

volumes:
  redis-data:
networks:
  proxmox_net:
    driver: bridge